Logica/Web References/localhost/WebServiceVentas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarProducto">
        <s:complexType />
      </s:element>
      <s:element name="ListarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductoResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_unitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="iva" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarIdResult" type="tns:Producto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProducto" />
  </wsdl:message>
  <wsdl:message name="ListarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarIdSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarId" />
  </wsdl:message>
  <wsdl:message name="BuscarIdSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceVentasSoap">
    <wsdl:operation name="ListarProducto">
      <wsdl:input message="tns:ListarProductoSoapIn" />
      <wsdl:output message="tns:ListarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <wsdl:input message="tns:BuscarIdSoapIn" />
      <wsdl:output message="tns:BuscarIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceVentasSoap" type="tns:WebServiceVentasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProducto">
      <soap:operation soapAction="http://tempuri.org/ListarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <soap:operation soapAction="http://tempuri.org/BuscarId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceVentasSoap12" type="tns:WebServiceVentasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProducto">
      <soap12:operation soapAction="http://tempuri.org/ListarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <soap12:operation soapAction="http://tempuri.org/BuscarId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceVentas">
    <wsdl:port name="WebServiceVentasSoap" binding="tns:WebServiceVentasSoap">
      <soap:address location="http://localhost:60890/WebServiceVentas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceVentasSoap12" binding="tns:WebServiceVentasSoap12">
      <soap12:address location="http://localhost:60890/WebServiceVentas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>